.search-form-container {
    height: auto;
    width: 100%;
    justify-content: center;
    background-color: transparent;
}

.search-form {
    min-height: 30vh;
    width: 65%;
    gap: 1rem;
    padding: 2rem 0;
}

.dish-params-container {
    gap: 1rem;
}

.dish-detail-pair-container {}

.dish-detail {}

.category {
    color: var(--theme-yellow);
}

.answer {}

.search-fieldset {
    height: 3.5rem;
    width: 80%;
    outline: none;
    border: none;
    resize: none;
    color: #4d4751;
    border-radius: 6px;
    padding-left: 0.75rem;
    background-color: transparent;
    border: 1px solid #d2d1d3;
}

.search-input {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: none;
    resize: none;
    color: var(--theme-purple);
    border-radius: 5px;
    background-color: transparent;
}

.search-fieldset:hover {
    border: 1px solid var(--theme-purple);
    transition: 0.15s ease-in;
}

.search-input:-webkit-autofill,
.search-input:-webkit-autofill:hover,
.search-input:-webkit-autofill:focus,
.search-input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.search-form-button-container {
    height: 2.5rem;
    width: 100%;
}