.navbar-wrapper {
    min-height: 8%;
    width: 100%;
    justify-content: center;
    gap: 5%;
    background-color: white;
    box-shadow: 0 1px 3px rgb(77 71 81 / 20%);

    /* GLASSMORPHISM */
    background: rgba(242, 236, 236, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.icon-container {
    height: 100%;
    width: 5%;
    border-left: 1px solid #d2d1d3;
    border-right: 1px solid #d2d1d3;
    justify-content: center;
    font-size: 2rem;
}

.sign-up-form-wrapper {
    min-height: 85vh;
    width: 35vw;
    margin: 2.5% auto;
    border: 2px solid #CCCCCC;
    background: white;

    /* GLASSMORPHISM */
    background: rgba(242, 236, 236, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.company-icon {
    color: var(--theme-purple);
}

@media (max-width: 1500px) {
    .navbar-wrapper {
        flex-direction: column;
        height: 100%;
        width: 20%;
        gap: none;
    }

    .icon-container {
        width: 50%;
        border-top: 1px solid #d2d1d3;
        border-bottom: 1px solid #d2d1d3;
        border-left: none;
        border-right: none;
    }
}